.table {
  font-family: "Inter";
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
}

.table td,
.table th {
  /* border: 1px solid #ddd; */
  border-bottom: 1px solid #efefef;
  padding: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #7f8da2;
  height: 40px;
}

.table thead {
  background: #fbfbfb;
  border-bottom: 1px solid #efefef;
}

.marginAuto {
  margin: auto;
}

.paddingAndHeight {
  padding: 18px 22px;
  height: 54px;
}

.h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #393f46;
}

.icon {
  width: 16.93px;
  height: 16.93px;
  color: #95a0b1;
}

.tableBackground {
  background-color: #fff;
  border-radius: 8px;
}

.tableBottom {
  padding: 20px;
  height: 66px;
}

.buttonViewAll {
  display: inline-block;
  color: #438ffe;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  margin-bottom: 6px;
}
